# never push ~ files
*~

# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

# Ignore emacs autosave~ and #modified# files
*~
**/*~
**/\#*

# Ignore main files
**/*main.c

# Ignore object files and libraries
*.o
*.ko

# ignore _putchar.c and a.out
**/_putchar.c
**/a.out